@use "../abstracts";

html {
  --text-color: #1a162e;
  --icon-color: brightness(0) saturate(100%) invert(9%) sepia(5%)
    saturate(6280%) hue-rotate(210deg) brightness(94%) contrast(97%);
  --body-bg-color: #f6f6f6;
  --header-bg-color: #eee;
  --top-act-group-bg-color: #fff;
  --top-act-group-shadow: rgba(237, 237, 246, 0.2);
  --top-act-group-separate: #ededf6;

  @include abstracts.screen(lg) {
    --header-bg-color: #fff;
  }

  //dropdown

  --dropdown-bg-color: #fff;
  --dropdown-shadow-color: rgba(200, 200, 200, 0.4);
  --top-menu-border-color: #d2d1d6;

  // home

  --home-heading-color: #1a162e;

  // cate-item
  --cate-item-bg: #eee;
  --cate-item-thumb-bg: #fff;
  --cate-item-title-color: #000;
  --cate-item-desc-color: #1a162e;
  @include abstracts.screen(md) {
    --cate-item-bg: #fff;
  }

  // button
  --filter-btn-color: #6c6c72;
  --filter-btn-bg: #fff;
  --like-btn-shadow: rgba(124, 124, 124, 0.2);
  --like-btn-bg: #fff;

  // product card
  --product-card-bg: #fff;
  --product-card-shadow: rgba(237, 237, 246, 0.2);

  // filter form

  --filter-form-bg: #ffffff;
  --filter-form-shadow: rgba(200, 200, 200, 0.4);
  --filter-form-tag-bg: #f8f8fb;
}
