.dropdown {
  position: absolute;
  left: 0;
  padding-top: 54px;
  width: min(1240px, 100%);
  //   display: none;
  &__inner {
    position: relative;
    padding: 30px;
    border-radius: 2rem;
    background: var(--dropdown-bg-color);
    box-shadow: 0px 40px 90px 20px var(--dropdown-shadow-color);
    height: min(582px, 100vh - 154px);
    &::before {
      content: url(../icons/dropdown-arrow.svg);
      position: absolute;
      top: -13px;
      left: var(--arrow-left-pos);
      transform: translate(-50%);
      filter: var(--dropdown-arrow-color);
    }
  }
}

.top-menu {
  height: 100%;

  &__main {
    height: 100%;
    width: 292px;
    border-right: 1px solid var(--top-menu-border-color);
  }
}

.menu-column {
  display: flex;
  &__icons {
    position: relative;
    img:last-child {
      position: absolute;
      bottom: -5px;
      right: -6px;
    }
  }
}
