@use "../abstracts";

.logo {
  display: flex;
  align-items: center;
  gap: 14px;
  cursor: pointer;
  @include abstracts.breakpoint(lg) {
    gap: 10px;
  }
  &__img {
    width: 32px;
    height: 32px;
    @include abstracts.breakpoint(lg) {
      width: 24px;
    }
  }
  &__title {
    font-size: 2.2rem;
    line-height: 145.455%;
    font-weight: 700;
    @include abstracts.breakpoint(lg) {
      font-size: 1.8rem;
    }
  }
}
