<div class="container">
  <div class="top-bar">
    <button class="icon top-bar__more">
      <img src="./assets/icons/more.svg" alt="" />
    </button>
    <a href="./" class="logo">
      <img src="./assets/icons/logo.svg" alt="grocerymart" class="logo__img" />
      <h1 class="logo__title">grocerymart</h1>
    </a>

    <nav class="navbar">
      <ul class="navbar__list js-dropdown-list">
        <li class="navbar__item">
          <a href="" class="navbar__link">
            Departments
            <img
              src="./assets/icons/arrow-down.svg"
              class="icon navbar__arrow"
              alt="arrow-down"
            />
          </a>
          <div class="dropdown">
            <div class="dropdown__inner">
              <div class="top-menu">
                <div class="top-menu__main">
                  <div class="menu-column">
                    <div class="menu-column__icons">
                      <img src="../assets/images/category/cate1-1.svg" alt="" />
                      <img src="../assets/images/category/cate1-2.svg" alt="" />
                    </div>
                    <div class="menu-column__content"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </li>
        <li class="navbar__item">
          <a href="" class="navbar__link">
            Grocery
            <img
              src="./assets/icons/arrow-down.svg"
              class="icon navbar__arrow"
              alt="arrow-down"
            />
          </a>
          <!-- <div class="dropdown">
            <div class="dropdown__inner">
              Lorem 2 ipsum dolor sit amet consectetur adipisicing elit. Qui,
              beatae nesciunt, quia vitae quibusdam voluptas exercitationem
              dolorem earum deleniti sunt atque aut neque, vel iusto praesentium
              voluptate temporibus dicta nulla.
            </div>
          </div> -->
        </li>
        <li class="navbar__item">
          <a href="" class="navbar__link">
            Beauty
            <img
              src="./assets/icons/arrow-down.svg"
              class="icon navbar__arrow"
              alt="arrow-down"
            />
          </a>
          <!-- <div class="dropdown">
            <div class="dropdown__inner">
              Lorem 3 ipsum dolor sit amet consectetur adipisicing elit. Qui,
              beatae nesciunt, quia vitae quibusdam voluptas exercitationem
              dolorem earum deleniti sunt atque aut neque, vel iusto praesentium
              voluptate temporibus dicta nulla.
            </div>
          </div> -->
        </li>
      </ul>
    </nav>

    <div class="top-act">
      <div class="top-act__group top-act__group--single">
        <button class="top-act__btn">
          <img
            src="./assets/icons/search.svg"
            alt=""
            class="icon top-act__icon"
          />
        </button>
      </div>
      <div class="top-act__group">
        <button class="top-act__btn">
          <img
            src="./assets/icons/heart.svg"
            alt=""
            class="icon top-act__icon"
          />
          <span class="top-act__title">03</span>
        </button>
        <div class="top-act__separate"></div>
        <button class="top-act__btn">
          <img
            src="./assets/icons/cart.svg"
            alt=""
            class="icon top-act__icon"
          />
          <span class="top-act__title">$65.42</span>
        </button>
      </div>
      <div class="top-act__user">
        <img src="./assets/images/avatar.jpg" alt="" class="top-act__avatar" />
      </div>
    </div>
  </div>
</div>
